<ion-view view-title="Create event" data-ng-init="EventCreateCtrl.init()">
  <ion-content class="padding">
    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" />
    </label>
    <label class="item item-input">
      <span class="input-label">Start time</span>
      <input type="time" />
    </label>
    <label class="item item-input">
      <span class="input-label">End time</span>
      <input type="time" />
    </label>
  </ion-content>
</ion-view>
