<ion-view title="Create event">
    <ion-nav-buttons side="secondary">
        <ion-nav-button class="button button-clear button-positive" data-ng-click="EventCreateCtrl.saveEvent()">
            Add
        </ion-nav-button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Title" data-ng-model="EventCreateCtrl.event.title"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" data-ng-model="EventCreateCtrl.event.date"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Start time</span>
                <input type="time" data-ng-model="EventCreateCtrl.event.startTime"/>
            </label>
            <label class="item item-input">
                <span class="input-label">End time</span>
                <input type="time" data-ng-model="EventCreateCtrl.event.endTime"/>
            </label>
            <label class="item item-input">
                <textarea rows="6" placeholder="Description" data-ng-model="EventCreateCtrl.event.description"></textarea>
            </label>
        </div>
        <button class="button" data-ng-click="EventCreateCtrl.takePhoto()">Add Picture</button>
    </ion-content>

</ion-view>
