<ion-view title="Events" data-ng-controller="eventListController as EventListCtrl">
    <ion-nav-buttons side="secondary">
        <ion-nav-button class="button button-clear button-positive"
                        data-ng-if="EventListCtrl.showDelete == true"
                        data-ng-click="EventListCtrl.showDelete = false">
            Cancel
        </ion-nav-button>
        <ion-nav-button class="button button-clear button-positive"
                        data-ng-if="EventListCtrl.showEdit()"
                        data-ng-click="EventListCtrl.showDelete = true">
            Edit
        </ion-nav-button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="EventListCtrl.showDelete == true">
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right"
                      ng-repeat="event in EventListCtrl.events"
                      type="item-text-wrap" href="#/tab/events/{{event.id}}"
                      href="#/tab/events/{{event.id}}">
                <img style="border-radius: 5px 20px 5px;
                            background: #BADA55;"
                     ng-src="{{event.imageURI}}"/>
                <h2>{{event.title}}</h2>
                <p>{{event.description}}</p>
                <div class="row">
                    <div class="col col-30">
                        <p><b>When:</b></p>
                    </div>
                    <div class="col col-70">
                        <p>{{event.date | date:'dd/MM/yyyy'}} <br />
                           {{event.startTime | date:'HH:mm'}}-{{event.endTime | date:'HH:mm'}}</p>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-delete-button class="ion-minus-circled"
                                   ng-click="EventListCtrl.removeEvent(event)">
                </ion-delete-button>

                <ion-option-button class="button-positive" data-ng-click="EventListCtrl.addToCalendar(event)">
                    <i class="icon ion-calendar"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <a class="button button-clear button-positive pull-right" href="#/tab/events/create">Add</a>
    </ion-footer-bar>
</ion-view>
